<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
<!--    <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo">-->
  </a>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky ">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" (click)="setContent('search')">
              <i class="fas fa-search"></i>Search
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " (click)="setContent('topList')">
              <i class="fas fa-heart" ></i>My toplist
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " (click)="setContent('userProfile')">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div [ngSwitch]="(getContent() | async)">
        <app-search *ngSwitchCase="'search'"></app-search>
        <app-toplist *ngSwitchCase="'topList'"></app-toplist>
        <app-user-profile *ngSwitchCase="'userProfile'"></app-user-profile>
      </div>
    </main>
  </div>
</div>
