@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.movies-content{
  padding: 20px 40px 40px;
  overflow: auto;
  &__text {
    display: inline;
  }
}
.title {
  text-align: center;
}
.container{
  padding: 20px;
}
.content1 {
  width: 30%;
  float: left;
}
.content2 {
  width: 70%;
  float: left;
}

.images {
  height: 300px;
  border-radius: 8px;
}
.toplist-button{
  color: white;
}
.carousel ::ng-deep .carousel-slide-content {
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.actor-images {
  height: 150px;
  border-radius: 8px;
}

.actor-name{
  max-width: 100px;
}
//above this, everything is absolutely necessary
.button{
  align-content: center;
}

.loading {
  display: flex;
  align-items: center;

}

.loading-image{
  height: 300px;
}

.carousel-elements{
  float:left;
  padding: 16px;
  align-items: center;

}
