<div class="example-form" [formGroup]="searchFormGroup">
  <mat-form-field class="mat-form-field-appearance-fill" appearance="outline">
    <div>
      <label>Search for a movie</label>
      <input formControlName="{{ searchTextControlName }}" matInput type="text" placeholder="Ex. Transformers">
    </div>
  </mat-form-field>
</div>
<button mat-button class="bg-dark search-button" (click)="searchMovies()">Search</button>
<div *ngIf="hasResults" class="movies-wrapper">
  <div *ngFor="let movie of movies.results" class="movies-content" (click)="openMovieDetails(movie)">
    <img matCardImage *ngIf="movie.poster_path; else placeholder" class="images"
         src="{{'https://image.tmdb.org/t/p/original/' + movie.poster_path}}" alt=""/>
    <label class="movie-title" matCardTitle> {{movie.title}}</label>

  </div>
</div>
<ng-template #placeholder>
  <img class="images" src="{{'assets/placeholder.png'}}" alt=""/>
</ng-template>
