.movies-wrapper{
  overflow: auto;
}
.movies-content{
  float:left;
  border: 5px black;
  width: 175px;
  height: 300px;
  padding: 16px;
  align-content: center;
}

.images {
  height: 200px;
}

.movie-title {
  text-align: center;
}
