<h1 class="title">Toplist</h1>
  <div *ngIf="!isLoadingValue(); else loading" class="movies-wrapper">
    <div *ngFor="let movie of moviesOnToplist | async"
         class="movies-content" (click)="openMovieDetails(movie)">
      <img *ngIf="movie.poster_path; else placeholderImage" class="images"
           src="{{'https://image.tmdb.org/t/p/original/' + movie.poster_path}}" alt=""/>
      <label class="movie-title"> {{movie.title}}</label>
    </div>
  </div>
<ng-template #placeholderImage>
  <img class="images" src="{{'assets/placeholder.png'}}" alt=""/>
</ng-template>
<ng-template #loading class="loading">
  <div class="loading-image-container">
    <img class="loading-image" src="{{'assets/loading.gif'}}" alt=""/>
  </div>
</ng-template>

