.movies-wrapper{
  overflow: hidden;
}
.movies-content{
  float:left;
  width: 175px;
  height: 300px;
  padding: 16px;
  align-content: center;
  border: 2px solid darkblue;
  border-radius: 8px;
  margin: 16px;
  overflow: hidden;
}

.movie-title {
  padding-top: 8px;
  text-align: center;
  font-size: medium;
}

.images {
  height: 200px;
  border: 20px black;
  border-radius: 8px;
}

.title {
  display: flex;
  justify-content: center;
}

.loading-image-container{
  display:flex;
  justify-content: center;
}

.loading-image{
  height: 300px;
}
