.movies-wrapper{
  overflow: hidden;
}
.movies-content{
  float:left;
  width: 175px;
  height: 300px;
  padding: 16px;
  align-content: center;
  border: 2px solid darkblue;
  border-radius: 8px;
  margin: 16px;
  overflow: hidden;
}

.images {
  height: 200px;
  border: 20px black;
  border-radius: 8px;
}
